html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

.bg-purple {
  background-color: purple;
}

.bg-white {
  background-color: white;
}

.modal-content {
  width: 125% !important ;
}

.pointer {
  cursor: pointer;
}

.rectangle {
  width: 300px;
  height: 150px;
}

.min-content-width {
  width: min-content;
}

.max-height-100 {
  max-height: 100px;
  overflow: scroll;
  scroll-behavior: auto;
}

.underline-offset {
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid rgb(13,110,253); /* Custom underline */
  padding-bottom: 2px; /* Space between text and underline */
}

#dropdown-ethnicity-button{
  width: 100%;
}

#dropdown-race-button{
  width: 100%;
}

#dropdown-gender-button{
  width: 100%;
}

.custom-spin .ant-spin-dot i {
  background-color: white; /* Your desired color */
}