html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif !important;
  /* Or you can use Roboto */
  /* font-family: 'Roboto', sans-serif; */
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
}

.app {
  display: flex;
  position: relative;
}

.bg-purple {
  background-color: purple;
}

.border-purple-dark {
  border-color: rgb(83, 1, 83);
  border-style: solid;
}

.bg-white {
  background-color: white;
}

.modal-content {
  width: 125% !important ;
}

.pointer {
  cursor: pointer;
}

.rectangle {
  width: 300px;
  height: 150px;
}

.min-content-width {
  width: min-content;
}

.max-height-100 {
  max-height: 100px;
  overflow: scroll;
  scroll-behavior: auto;
}

.underline-offset {
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid rgb(13,110,253); /* Custom underline */
  padding-bottom: 2px; /* Space between text and underline */
}

#dropdown-ethnicity-button{
  width: 100%;
}

#dropdown-ethnicity-button-purple{
  width: 100%;
  background-color: purple ;
  color: white ;
  border-color: purple ;
}

#dropdown-race-button{
  width: 100%;
}

#dropdown-race-button-purple{
  width: 100%;
  background-color: purple ;
  color: white ;
  border-color: purple ;
}

#dropdown-gender-button{
  width: 100%;
}

#dropdown-gender-button-purple{
  width: 100%;
  background-color: purple ;
  color: white ;
  border-color: purple ;
}
.custom-spin .ant-spin-dot i {
  background-color: white; /* Your desired color */
}

.tablePlaceContent {
  place-content: center;
}

.profile-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out 0s, visibility 0s linear 1s;
}

.profile-icon:hover .profile-dropdown {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
}

.custom-dropdown-item {
  background-color: rgb(235, 193, 235) !important; /* Replace with your desired background color */
}

.custom-dropdown-item:hover {
  background-color: #e9ecef; /* Replace with your desired hover background color */
}

.dropdown-menu {
  padding: 0 !important; /* Removes all padding */
  margin: 0 !important;  /* Optionally, you can remove the margin too */
}